.as-tooltip {
  --as-popover-bg-color: var(--as-bg-color-overlay);
  --as-popover-font-size: var(--as-font-size-base);
  --as-popover-border-color: var(--as-border-color-lighter);
  --as-popover-padding: 12px;
  --as-popover-border-radius: 4px;
  display: inline-block;
}

.as-tooltip {
  .as-tooltip__popper {
    box-sizing: border-box;
    background: var(--as-popover-bg-color);
    border-radius: var(--as-popover-border-radius);
    border: 2px solid var(--as-popover-border-color);
    padding: var(--as-popover-padding);
    color: var(--as-text-color-regular);
    line-height: 1.4;
    text-align: justify;
    font-size: var(--as-popover-font-size);
    box-shadow: var(--as-box-shadow-light);
    word-break: break-all;
    box-sizing: border-box;
    z-index: 1000;
    #arrow,
    #arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: var(--as-popover-bg-color);
      box-sizing: border-box;
    }
    #arrow {
      visibility: hidden;
    }
    #arrow::before {
      content: '';
      visibility: visible;
      transform: rotate(45deg);
    }
    &[data-popper-placement^='top'] > #arrow {
      bottom: -5px;
    }
    &[data-popper-placement^='bottom'] > #arrow {
      top: -5px;
    }
    &[data-popper-placement^='left'] > #arrow {
      right: -5px;
    }
    &[data-popper-placement^='right'] > #arrow {
      left: -5px;
    }
    &[data-popper-placement^='top'] > #arrow::before {
      border-right: 1px solid var(--as-popover-border-color);
      border-bottom: 1px solid var(--as-popover-border-color);
    }
    &[data-popper-placement^='bottom'] > #arrow::before {
      border-left: 1px solid var(--as-popover-border-color);
      border-top: 1px solid var(--as-popover-border-color);
    }
    &[data-popper-placement^='left'] > #arrow::before {
      border-top: 1px solid var(--as-popover-border-color);
      border-right: 1px solid var(--as-popover-border-color);
    }
    &[data-popper-placement^='right'] > #arrow::before {
      border-bottom: 1px solid var(--as-popover-border-color);
      border-left: 1px solid var(--as-popover-border-color);
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity var(--as-transition-duration);
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}
