.as-message {
  --as-message-bg-color: var(--as-color-info-light-9);
  --as-message-border-color: var(--as-border-color-lighter);
  --as-message-padding: 15px 19px;
  --as-message-close-size: 16px;
  --as-message-close-icon-color: var(--as-text-color-placeholder);
  --as-message-close-hover-color: var(--as-text-color-secondary);
}
.as-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--as-border-radius-base);
  border-width: var(--as-border-width);
  border-style: var(--as-border-style);
  border-color: var(--as-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  background-color: var(--as-message-bg-color);
  padding: var(--as-message-padding);
  display: flex;
  align-items: center;
  transition:
    opacity var(--as-transition-duration),
    transform var(--as-transition-duration),
    top var(--as-transition-duration);
  .as-message__content {
    color: var(--as-message-text-color);
    overflow-wrap: anywhere;
  }
  &.is-close .as-message__content {
    padding-right: 30px;
  }
  .as-message__close {
    display: flex;
    align-items: center;
  }
  .as-message__close svg {
    cursor: pointer;
  }
}
@each $type in info, success, warning, danger {
  .as-message.as-message-#{$type} {
    --as-message-bg-color: var(--as-color-#{$type}-light-9);
    --as-message-border-color: var(--as-color-#{$type}-light-8);
    --as-message-text-color: var(--as-color-#{$type});
    .as-message__close {
      --as-icon-color: var(--as-color-#{$type});
    }
  }
}
.as-message.fade-up-enter-from,
.as-message.fade-up-leave-to {
  transform: translate(-50%, -100%);
  opacity: 0;
}
